In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# sns.set(font='NanumBarunGothic', font_scale=2.5)
sns.set(font='Malgun Gothic', font_scale=2.5)
plt.rcParams['axes.unicode_minus'] = False

In [44]:
X = pd.read_csv('X.csv', index_col=0)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307511 entries, 0 to 307510
Data columns (total 59 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   NAME_CONTRACT_TYPE_0               307511 non-null  int64
 1   CODE_GENDER_0                      307511 non-null  float64
 2   FLAG_OWN_CAR_0                     307511 non-null  int64
 3   FLAG_OWN_REALTY_0                  307511 non-null  int64
 4   NAME_TYPE_SUITE_0                  307511 non-null  float64
 5   NAME_TYPE_SUITE_1                  307511 non-null  float64
 6   NAME_INCOME_TYPE_0                 307511 non-null  float64
 7   NAME_INCOME_TYPE_1                 307511 non-null  float64
 8   NAME_EDUCATION_TYPE_0              307511 non-null  float64
 9   NAME_FAMILY_STATUS_0               307511 non-null  float64
 10  NAME_FAMILY_STATUS_1               307511 non-null  float64
 11  NAME_HOUSING_TYPE_0                307511 non-null  float64
 12  NAME_HOUSING_TYPE_1                307511 non-null  float64
 13  OCCUPATION_TYPE_0                  307511 non-null  float64
 14  OCCUPATION_TYPE_1                  307511 non-null  float64
 15  OCCUPATION_TYPE_2                  307511 non-null  float64
 16  OCCUPATION_TYPE_3                  307511 non-null  float64
 17  OCCUPATION_TYPE_4                  307511 non-null  float64
 18  OCCUPATION_TYPE_5                  307511 non-null  float64
 19  WEEKDAY_APPR_PROCESS_START_0       307511 non-null  float64
 20  WEEKDAY_APPR_PROCESS_START_1       307511 non-null  float64
 21  ORGANIZATION_TYPE_0                307511 non-null  float64
 22  ORGANIZATION_TYPE_1                307511 non-null  float64
 23  ORGANIZATION_TYPE_2                307511 non-null  float64
 24  ORGANIZATION_TYPE_3                307511 non-null  float64
 25  ORGANIZATION_TYPE_4                307511 non-null  float64
 26  ORGANIZATION_TYPE_5                307511 non-null  float64
 27  HOUR_APPR_PROCESS_START            307511 non-null  int64
 28  REG_REGION_NOT_LIVE_REGION         307511 non-null  int64
 29  REG_REGION_NOT_WORK_REGION         307511 non-null  int64
 30  LIVE_REGION_NOT_WORK_REGION        307511 non-null  int64
 31  REG_CITY_NOT_LIVE_CITY             307511 non-null  int64
 32  REG_CITY_NOT_WORK_CITY             307511 non-null  int64
 33  LIVE_CITY_NOT_WORK_CITY            307511 non-null  int64
 34  EXT_SOURCE_2                       307511 non-null  float64
 35  FLAG_DOCUMENT_2                    307511 non-null  int64
 36  FLAG_DOCUMENT_3                    307511 non-null  int64
 37  FLAG_DOCUMENT_4                    307511 non-null  int64
 38  FLAG_DOCUMENT_5                    307511 non-null  int64
 39  FLAG_DOCUMENT_6                    307511 non-null  int64
 40  FLAG_DOCUMENT_7                    307511 non-null  int64
 41  FLAG_DOCUMENT_8                    307511 non-null  int64
 42  FLAG_DOCUMENT_9                    307511 non-null  int64
 43  FLAG_DOCUMENT_10                   307511 non-null  int64
 44  FLAG_DOCUMENT_11                   307511 non-null  int64
 45  FLAG_DOCUMENT_12                   307511 non-null  int64
 46  FLAG_DOCUMENT_13                   307511 non-null  int64
 47  FLAG_DOCUMENT_14                   307511 non-null  int64
 48  FLAG_DOCUMENT_15                   307511 non-null  int64
 49  FLAG_DOCUMENT_16                   307511 non-null  int64
 50  FLAG_DOCUMENT_17                   307511 non-null  int64
 51  FLAG_DOCUMENT_18                   307511 non-null  int64
 52  FLAG_DOCUMENT_19                   307511 non-null  int64
 53  FLAG_DOCUMENT_20                   307511 non-null  int64
 54  FLAG_DOCUMENT_21                   307511 non-null  int64
 55  NAME_CONTRACT_STATUS_Approved      307511 non-null  float64
 56  NAME_CONTRACT_STATUS_Canceled      307511 non-null  float64
 57  NAME_CONTRACT_STATUS_Refused       307511 non-null  float64
 58  NAME_CONTRACT_STATUS_Unused offer  307511 non-null  float64
dtypes: float64(29), int64(30)
memory usage: 140.8 MB

In [46]:
y= pd.read_csv('y.csv', index_col=0)
print(y.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307511 entries, 0 to 307510
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   SK_ID_CURR  307511 non-null  int64
 1   TARGET      307511 non-null  int64
dtypes: int64(2)
memory usage: 7.0 MB
None

In [47]:
data = X.copy()
data['TARGET'] = y['TARGET']
data

,NAME_CONTRACT_TYPE_0,CODE_GENDER_0,FLAG_OWN_CAR_0,FLAG_OWN_REALTY_0,NAME_TYPE_SUITE_0,NAME_TYPE_SUITE_1,NAME_INCOME_TYPE_0,NAME_INCOME_TYPE_1,NAME_EDUCATION_TYPE_0,NAME_FAMILY_STATUS_0,...,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Refused,NAME_CONTRACT_STATUS_Unused offer,TARGET
0,0,20.134945,0,1,9.890697,0.898112,12.278906,-0.681713,16.687407,19.925530,...,0,0,0,0,0,1.0,0.0,0.0,0.0,1
1,0,-3.676192,0,0,-7.652332,5.231063,-2.404978,7.787700,-10.902663,5.937795,...,0,0,0,0,0,3.0,0.0,0.0,0.0,0
2,1,17.777860,1,1,6.432116,-1.440167,10.432052,0.872340,14.795870,19.336040,...,0,0,0,0,0,1.0,0.0,0.0,0.0,0
3,0,-1.142164,0,1,6.151095,-0.373644,12.906398,-0.886113,16.659070,0.080178,...,0,0,0,0,0,5.0,3.0,1.0,0.0,0
4,0,19.838678,0,1,7.559227,1.057154,11.199788,0.782881,17.235367,19.024258,...,0,0,0,0,0,6.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,0,17.683393,0,0,8.957009,-0.923007,14.892122,0.296253,12.894564,-8.848425,...,0,0,0,0,0,1.0,0.0,0.0,0.0,0
307507,0,-3.983598,0,1,9.577925,0.530592,-3.517254,-4.691452,13.397114,-7.903254,...,0,0,0,0,0,1.0,0.0,0.0,0.0,0
307508,0,-5.938500,0,1,7.685481,0.802783,11.690941,-0.507900,-11.520688,-9.082497,...,0,0,0,0,0,2.0,0.0,0.0,0.0,0
307509,0,0.110184,0,1,8.556287,-1.515728,4.748530,15.507539,14.423134,5.609879,...,0,0,0,0,0,2.0,0.0,0.0,0.0,1
307510,0,1.621602,0,0,8.918999,0.720383,6.347136,15.552559,-10.390961,2.823783,...,0,0,0,0,0,6.0,0.0,2.0,0.0,0

In [38]:
from pycaret.classification import *
s = setup(data, target = 'TARGET', use_gpu=True)

In [39]:
best = compare_models()